{{- $hero       := .Site.Params.hero }}
{{- $title      := index $hero "title" }}
{{- $subtitle   := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
<div class="hero-body">
  <div class="landing-caption">
    <!-- <h1 class="title is-1 is-bold is-spaced"> -->
    <h1 class="title">
      {{ $title }}
    </h1>

    <img src="/images/logo.png" alt="Little Big Top Logo" style="margin: 1rem auto;" />

    {{ with $subtitle }}
    <h2 class="subtitle is-5 is-muted">
      {{ . }}
    </h2>

    <p style="margin-top: 2rem; font-size: 1.25rem; color: #666;">
      Little Big Top Boise is a non-profit organization serving youth in the Treasure Valley.<br/>
      Through the transformative power of circus arts, we are committed to building confidence, creativity, and community one act at a time.
    </p>
    {{ end }}

    <div class="gallery" style="display: block; text-align: center; margin-top: 2rem;">
      <img src="/images/homepage.jpg" alt="Little Big Top" style="max-width: 100%; margin: 1rem auto; display: block;" />
    </div>
  </div>
</div>